{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Каталог{% endblock %}
{% block page_title %}Каталог{% endblock %}
{% block page_description %}Добро пожаловать в каталог Online-store! Здесь вы найдете разнообразные товары на любой вкус — от бытовой техники и электроники до стильных аксессуаров и подарков. Удобная навигация и подробные карточки товаров помогут быстро найти нужный продукт, а выгодные цены и акции сделают покупки приятными и удобными.{% endblock %}
{% block content %}
<div class="mb-4 d-flex justify-content-center">
  <a class="btn btn-warning" href="{% url 'catalog:product_create' %}">Создать</a>
</div>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ product.image|media_filter}}">
            <div class="card-body">
              <p class="card-text">{{ product.name }}</p>
              <p class="card-text">{{ product.price }} рублей</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-dark" href="{% url 'catalog:product_detail' product.pk  %}" role="button">Посмотреть</a>
                </div>
                <small class="text-muted">{{ product.updated_at }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}